* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}
header{
    width: 100%;       
  }
.logo{
  display: flex;
  background-color: #E4EDED;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;   
}
.logo,h1{
  font-size: 60px;
  padding-left: 50px;
  color: #068A86;
}
nav{
    background-color: rgba(33, 34, 34, 0.075);
    height: 50px;
}
.menu{
    background-color: #068A86;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;    
}
.menu li {
    display: flex;
    list-style: none;
    font-size: 20px;
    list-style-type: none;
    height: 100%;
    margin-left: 32px;
}
.borda {
    color: #068A86;
    border-left: 2px solid black;
    padding-left: 300px;

}  
li a {
    margin-top: 15px;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.884);
    font-size: 20px;
    transition: color 0.5s ease;
    margin-left: 40px;
}
h2{
  color: #068A86;
  margin-left: 650px;

}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  border: 2px solid black;
  padding-bottom: 70px;
  background-color: #D3E6F5;
}

.botão {
  background-color: #068A86;
  height: 45px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif, Arial;
  font-weight: 500;
  color: #fff;
  width: 8rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 20px;
  
}
section {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    width: 100%;
    
    
  }
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
  }
  .table th{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-around;
  }
  footer{
    border-top: 7px solid black;
    margin-top: 20px;
    width: 100%;
    padding-left: 10px;
}
.links{
    display: flex;
    gap: 20px

}
.links a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.884);
    font-size: 14px;
    margin-top: 13px;
    transition: color 0.5s ease;
}
.final{
    display: flex;
    gap: 20px;
}
.final p{
    font-weight: bold;
}