* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}
header{
      width: 100%;       
    }
.logo{
    display: flex;
    background-color: #E4EDED;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;   
}
.logo,h1{
    font-size: 60px;
    padding-left: 50px;
    color: #068A86;
}

nav{
    background-color: rgba(33, 34, 34, 0.075);
    height: 50px;
}
.menu{
    background-color: #068A86;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;    
}
.menu li {
    display: flex;
    list-style: none;
    font-size: 20px;
    list-style-type: none;
    height: 100%;
}
.borda {
    color: #068A86;
    border-left: 2px solid black;
    padding-left: 300px;

}  
li a {
    margin-top: 15px;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.884);
    font-size: 20px;
    transition: color 0.5s ease;
}
section{
    background-color: #E4EDED ;  
}
.principal{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #D3E6F5; 
    line-height:45px;
    border-bottom: 7px solid black;    
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    padding-left: 25px;
}
.video{
    margin-right: 25px;
}
.conosco{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
}
footer{
    margin-top: 20px;
    width: 100%;
    padding-left: 10px;
}
.links{
    display: flex;
    gap: 20px

}
.links a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.884);
    font-size: 14px;
    margin-top: 13px;
    transition: color 0.5s ease;
}
.final{
    display: flex;
    gap: 20px;
}
.final p{
    font-weight: bold;
}